input[type=text] {
  border-radius: 4px;
  width: 350px;
  height: 40px;
	font-size: 20px;
	color: #10496a;
	padding: 0px 5px 0px 5px;
	margin-top: 10px;
	background-color: #e0f3c2;
	border-style:solid;
	border-color: #e0f3c2;
}

body {
  margin: 5px;
  font-size: 20px;
}

A: {
  /* Links */
  font-weight: bold;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body {
  text-align: left;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #000000;
}

h1, h2, h3, h4 {
  text-align: center;
}

p {
  color: #1b1b1b;
}

.directions {
	margin-bottom: 25px;
	width: 45%;
	padding: 10px 100px 10px 20px;
	float: left;
	height: 100%;
}

.centered {
  margin: 0 auto;
  text-align: center;
}

.separator_line, .second_separator_line {
  margin: 0 auto;
  width: 1000px;
  height: 8px;
  padding-left: 5px;
  padding-right: 5px;
}

.separator_line {
  background-color: #a9daaa;
}

.second_separator_line {
  background-color: #d0efa2;
}

.index_white_textbox {
  background-color: #ffffff;
  margin: 0 auto;
  overflow: auto;
}

.header_text {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #ffffff;
  text-align: center;
  font-size: 30px;
}

.navigation_section {
  text-align: center;
  padding: 5px;
  width: 100%;
}

.footer {
  height: 20px;
  width: 1010px;
  font-size: 14px;
  -moz-border-bottom-left-radius: 20px;
  -moz-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #0d8197;
  margin: 0 auto;
  color: #ffffff;
	text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.submitButton {
  background-color: #50a036;
  color: #ffffff;
	height: 40px;
  font-weight: bold;
  font-size: 18px;
  padding: 5px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin-top: 10px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.text {
  margin: 20px 0px 20px 0px;
}

.navigation {
  background-color: #0d8197;
  margin: 0 auto;
  width: 1000px;
  color: #ffffff;
  margin-top: 20px;
  padding: 10px 5px 10px 5px;
  -moz-border-top-left-radius: 20px;
  -moz-border-top-right-radius: 20px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.index_white_textbox {
  width: 970px;
  padding: 10px 20px 10px 20px;
  overflow: auto;
}

#icon {
  fill: #ffffff;
}

.time {
  width: 50px !important;
}

.minute {
  padding-left: 20px !important;
}

input::-webkit-input-placeholder {
  color: #a1ce5b !important;
}

input:-moz-placeholder { /* Firefox 18- */
  color: #a1ce5b !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
  color: #a1ce5b !important;
}

input:-ms-input-placeholder {
  color: #a1ce5b !important;
}

.styled_select {
   background: #e0f3c2;
   font-size: 20px;
}
