<!DOCTYPE html>
<!-- Standup Bot by Christina Aiello, 2017 -->
<html>

<head>
	<title>Care-ordinate</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>

<body bgcolor="#10496a">

	<nav class="navigation">
		<div class="header_text">
			"Care-ordinate"
		</div>
	</nav>

	<section class="separator_line">
	</section>
	<section class="second_separator_line">
	</section>

	<section class="index_white_textbox">
		<form action="" method="post">

			{{ form.csrf }}
			<div class="directions">
				<center>
					<img src="static/icon.png" id="icon" width="300" height="300" class="centered">
				</center>
				<p>Use this form to add or update your patient information.</p>
				<p>Patient ID and patient name are only required field.</p>
			</div>

			<div class="input text">
				{{ form.patient_id.label }}
				<br> {{ form.patient_id(placeholder="Patient's Identification Number") }}
			</div>

			<div class="input text">
				{{ form.patient_name.label }}
				<br> {{ form.patient_name(placeholder="Patient's Name") }}
			</div>

			<div class="input text">
				{{ form.reminder_hour.label }}
				<br> {{ form.reminder_hour(class_="time", placeholder="00") }} {{ form.reminder_minute(class_="time", placeholder="00") }}
				<select name= colours method="GET" action="/">
				    {% for option in form.am_or_pm %}
				    <option value= "{{option}}" SELECTED>{{option}}</option>"
				    {% endfor %}
				</select>
			</div>

			<div class="input text">
				{{ form.patient_phone_number.label }}
				<br> {{ form.patient_phone_number(placeholder="000-000-0000") }}
			</div>

			<div class="input text">
				{{ form.patient_contact_name.label }}
				<br> {{ form.patient_contact_name(placeholder="Contact's Name") }}
			</div>

			<div class="input text">
				{{ form.patient_contact_phone_number.label }}
				<br> {{ form.patient_contact_phone_number(placeholder="000-000-0000") }}
			</div>

			<div class="input submit">
				<input class="submitButton" type="submit" value="Submit" />
			</div>
		</form>
	</section>
	<!-- Closing tag for main white text box -->

	<!-- Adds a bar across the page for colors -->
	<section class="second_separator_line">
	</section>
	<section class="separator_line">
	</section>

	<!-- Bottom Bar -->
	<footer class="footer">
		Made by Oldies But Goodies
	</footer>
</body>

</html>
