<!DOCTYPE html>
<!-- Standup Bot by Christina Aiello, 2017 -->
<html>

<head>
	<title>Oldies But Goodies</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>

<body bgcolor="#10496a">

	<nav class="navigation">
		<div class="header_text">
			Oldies But Goodies
		</div>
	</nav>

	<section class="separator_line">
	</section>
	<section class="second_separator_line">
	</section>

	<section class="index_white_textbox">
		<form action="" method="post">

			{{ form.csrf }}
			<div class="directions">
				<center>
					<img src="static/logo.svg" id="icon" width="300" height="300" class="centered">
				</center>

				<p>Use this form to add or update your patient information.</p>

				<ol>
					<li>Hours are in military time, so 1pm == 13, 2pm == 14, etc.</li>
					<li>Patient name is the only required field.</li>
				</ol>
			</div>

			<div class="input text">
				{{ form.patient_id.label }}
				<br> {{ form.patient_id(placeholder="Patient's Username") }}
			</div>

			<div class="input password">
				{{ form.patient_password.label }}
				<br> {{ form.patient_password(placeholder="Patient's Password") }}
			</div>

			<div class="input text">
				{{ form.reminder_hour.label }}
				<br> {{ form.reminder_hour(class_="time", placeholder="00") }} {{ form.reminder_minute(class_="time", placeholder="00")) }}
			</div>

			<div class="input text">
				{{ form.patient_contact_phone_number.label }}
				<br> {{ form.patient_contact_phone_number(placeholder="000-000-0000") }}
			</div>

			<div class="input submit">
				<input class="submitButton" type="submit" value="Submit" />
			</div>
		</form>
	</section>
	<!-- Closing tag for main white text box -->

	<!-- Adds a bar across the page for colors -->
	<section class="second_separator_line">
	</section>
	<section class="separator_line">
	</section>

	<!-- Bottom Bar -->
	<footer class="footer">
		Bot by Oldies But Goodies
	</footer>
</body>

</html>
